<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../Public/style.css">
</head>
<body>
        <!--Navigation Bar-->
        <nav>
            <div class="container-fluid">
                <header class="d-flex flex-wrap justify-content-center py-3 mb-0">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <h1 class="logo"><span>P</span>edro.</h1>
                    </a>
                
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="../../index.html" class="nav-link" aria-current="page">Home</a></li>
                        <li class="nav-item"><a href="../../index.html#About" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="../../index.html#Projects" class="nav-link active">Projects</a></li>
                        <li class="nav-item"><a href="../../index.html#Contact" class="nav-link">Contact</a></li>
                    </ul>
                </header>
            </div>
        </nav>
        <!--Project Content-->
        <h1 class="sub-title text-center mb-4"><span>P</span>rojects.</h1>
        <div class="container">
            <div class="row border-bottom mb-3">
                <div class="col-xl-6 col-sm-12 mb-3">
                    <h2><span>T</span>o-Doit.</h2>
                    <p class="body-text">To-Doit is a simple To-Do list that allows you to keep track of your day to day tasks. It also allows you to view your tasks for the week. It was created as a proof of concept to solidify my learning with utilizing NodeJS, Express, and EJS for templating information. This project also assisted with my understanding of CSS Styling tools such as Flexbox and Grid and the use of frameworks such as Bootstrap.</p>
                    <span><h4>Features:</h4></span>
                    <i><p>HTML5, CSS, Bootstrap, NodeJS, Express {body-parser}, EJS</p></i>
                    <ul>
                        <li>Day View</li>
                        <ul>
                            <li>Task Input Field</li>
                            <li>Due Time Input Field</li>
                            <li>Created Task with checkbox toggle</li>
                        </ul>
                        <li>Week View</li>
                        <ul>
                            <li>Task Input Field</li>
                            <li>Due Time Input Field</li>
                            <li>Date Selection Input Field</li>
                            <li>Dynamic Week View Card: Dates automaically change to the current week of the month.</li>
                        </ul>
                    </ul>
                    
                    <a href="https://todoit.glitch.me/" target="_blank"><button class="btn btn-success">View Full Website</button></a>
                    <a title="Github Repository" href="https://github.com/buenocap/ToDoApp" target="_blank"><button type="button" class="btn btn-success"><i class="bi bi-github" style="font-size: 1rem;"></i> Repository</button></a>
                    
                </div>
                <div class="col-xl-6 col-sm-12"2>
                    <embed src="https://todoit.glitch.me/" type="text/html" width="800" height="500">
                </div>
            </div>

            <div class="row mb-3 border-bottom">
                <div class="col-xl-6 col-sm-12 mb-3">
                    <h2><span>A</span>ni-lyst.</h2>
                    <p class="body-text"> Ani-lyst is a website that uses the Jikan REST API which contains a database of of information on Anime. This website was created in order to learn about how to manipulate and use the information sent from the server and be able to display it to the end user in a simple and easy to read manner. I personally use this website to find new anime I've never watched before.</p>
                    <span><h4>Features:</h4></span>
                    <i><p>HTML5, CSS, NodeJS, Express {body-parser}, EJS, Axios</p></i>
                    <ul>
                        <li>Home Page</li>
                        <ul>
                            <li>Search Bar Input Field</li>
                            <li>Navigation Menu</li>
                        </ul>
                        <li>Top Anime</li>
                        <ul>
                            <li>Displays top anime of all time</li>
                        </ul>
                        <li>Random Anime</li>
                        <ul>
                            <li>Displays one random anime to the end user</li>
                        </ul>
                    </ul>
                    <a href="https://ani-lyst.glitch.me/" target="_blank"><button class="btn btn-success">View Full Website</button></a>
                    <a title="Github Repository" href="https://github.com/buenocap/Ani-lyst.git" target="_blank"><button type="button" class="btn btn-success"><i class="bi bi-github" style="font-size: 1rem;"></i> Repository</button></a>
                </div>
                <div class="col-xl-6 col-sm-12">
                    <embed src="https://ani-lyst.glitch.me" type="text/html" width="800" height="500">
                </div>
            </div>

            <div class="row mb-3 border-bottom">
                <div class="col-xl-6 col-sm-12">
                    <h2><span>S</span>cavenger Hunt.</h2>
                    <p class="body-text">Scavenger Hunt is a 3D first person game. Where the objective is to locate items that are randomly placed around the map. In the map you will also find portals that will lead you to puzzle rooms which award the player with a bonus item upon successful completion of the puzzle. What makes Scavenger Hunt interesting is it is also a procedurally generated game meaning the map generated will almost never be the same twice.</p>

                    <p class="body-text">This was a year long project where we worked closely with a client in order to make their vision come true. This is where I gained real world experience of the Software Development Cycle. My team rotated team leader every so often throughout the year. I took lead at the beginning of the project. During this time I established deadlines, assigning tasks, setting up weekly meetings with the client, and drafting reports that would keep the client up to date with any progess on a weekly basis. I also took lead during the end of the project where I finalized project documentation, established a techonology transfer meeting giving the client the neccessary credentials to continue working on this project, this included giving a through breakdown of the different components of the game and how it worked as a whole. This game was created using Unity.</p>

                    <span><h4>Features:</h4></span>
                    <i><p>Unity, C++, C#</p></i>
                    <ul>
                        <li>Dynamic Features</li>
                        <ul>
                            <li>Dynamically generated map</li>
                            <li>Dynamically placed items and assets</li>
                            <li>Progression based background music</li>
                        </ul>
                        <li>UI/UX</li>
                        <ul>
                            <li>Items Tool Bar</li>
                        </ul>
                        <li>Game Challenges</li>
                        <ul>
                            <li>Puzzle Rooms - Reward Bonus Items</li>
                            <li>Speed Run Timer - Beat time highscore</li>
                        </ul>
                    </ul>
                </div>
                <div class="col-xl-6 col-sm-12 mb-3">
                    <video src="../images/ScavengerHuntVideo.mp4" controls></video>
                    <div class="row">
                        <div class="col-6">
                            <h5>Download Files</h5>
                            <a href="../../ScavengerHuntDownloadFiles/Windows.zip"><button type="button" class="btn btn-success mb-2"><i class="bi bi-windows"> </i>Windows Download</button></a>
                            <a href="../../ScavengerHuntDownloadFiles/ScavengerHunt.zip"><button type="button" class="btn btn-success"><i class="bi bi-apple"> </i>MacOS Download</button></a>
                        </div>
                        <div class="col-6">
                            <h5>Game Documentation</h5>
                            <a href="../../ScavengerHuntDownloadFiles/Scavenger Hunt Gameplay Instructions.pdf"><button class="btn btn-success"><i class="bi bi-filetype-pdf"> </i>Scavenger Hunt Manual</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col-xl-6 col-sm-12">
                    <h2><span>S</span>imple Portfolio.</h2>
                    <p>This was the first website I created when I was learning how to use HTML and CSS in addition to making it responsive using Bootstrap. This website was fundamental to my learning in Web Development.</p>
                </div>
                <div class="col-xl-6 col-sm-12 mb-2">
                    <embed src="https://buenocap.github.io/Personal_Website/" type="text/html" width="800" height="500">
                </div>
                <div class="mb-3">
                    <a href="https://buenocap.github.io/Personal_Website/" target="_blank"><button type="button" class="btn btn-success">View Full Website</button></a>
                    <a title="Github Repository" href="https://github.com/buenocap/Personal_Website" target="_blank"><button type="button" class="btn btn-success"><i class="bi bi-github" style="font-size: 1rem;"></i> Repository</button></a>
                </div>
            </div>
        </div>


        <!--Footer-->
        <div class="copyright">
            <p>Copyright © Pedro Bueno Castañeda</p>
        </div>
    <!--SCRIPT-->
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>